<<<<<<< HEAD
version: '3.0'

services:
  nginx:
    container_name: "nginx"
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
    depends_on: 
      - app
      
      - public
  
  duckling:
    image: rasa/duckling:latest
    ports:
    - "8000:8000"

  rasa_server:
    container_name: "app"
    build:
      context: .
    ports:
    - "5005:5005"
    expose: 
      - 5005
  
  action_server:
    container_name: "app/actions"
    build:
      context: actions
    volumes:
      - ./actions:/app/actions
    ports:
    - "5055:5055"
  
  public:
    container_name: "public"
    build:
      context: public
    ports:
=======
version: '3.0'

services:
  nginx:
    container_name: "nginx"
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
    depends_on: 
      - app
      
      - public
  
  duckling:
    image: rasa/duckling:latest
    ports:
    - "8000:8000"

  rasa_server:
    container_name: "app"
    build:
      context: .
    ports:
    - "5005:5005"
    expose: 
      - 5005
  
  action_server:
    container_name: "app/actions"
    build:
      context: actions
    volumes:
      - ./actions:/app/actions
    ports:
    - "5055:5055"
  
  public:
    container_name: "public"
    build:
      context: public
    ports:
>>>>>>> 296aef057d551ccb644609ce3070fd52550c21d0
    - "3000:3000"